<nav class="navbar navbar-default" style="background-color: #fff;padding: 5px">
	<div class="container-fluid">
		<div class="row">
			<a class="navbar-brand" href="#" style="padding: 5px 15px;">
				<img alt="Brand" src="assets/logo/logo.png" style="width: 32px">
			</a>
			<div class="col-sm-11" style="display: block;">
				<div  class="font-size-16 h-20">
					<span class="blue-fg">SCEN</span>
					<span class="red-fg">AI</span>
					<span class="font-size-10">(R)</span> INSURANCE
				</div>
				<p class="font-size-10 text-italic">Scientific and Artificially Intelligent Pivotal Intevention and Infusion of Insights</p>
			</div>
		</div>
	</div>
</nav>
